<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= salut || 'Welcome' %></h1>
    <ul>
      <li>
        <a href="/auth/google">Google</a>
      </li>
    </ul>
    <p>Click <a href="/login">here</a> to login</p>
  </body>
</html>